# Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Divers

In [2]:
drivers = pd.read_csv('../data/Barber Motorsports Park/GR_Driver_Championship.csv', delimiter=';')
drivers.head()

,Pos,Participant,Points,Number,NAME,SURNAME,COUNTRY,TEAM,MANUFACTURER,CLASS,...,Indy_Race 2_Extra 2,Indy_Race 2_TotalExtraPoints,Indy_Race 2_Status,Indy_Race 2_ExtraParticipationPoints,Indy_Race 2_ExtraParticipationPointsAreInvalid,Indy_Race 2_ExtraNotStartedPoints,Indy_Race 2_ExtraNotStartedPointsAreInvalid,Indy_Race 2_ExtraNotClassifiedPoints,Indy_Race 2_ExtraNotClassifiedPointsAreInvalid,Unnamed: 192
0,1,Westin Workman,224,13,Westin,Workman,USA,BSI Racing,Toyota Gazoo Racing,Am,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jaxon Bell,141,7,Jaxon,Bell,USA,Copeland Motorsports,Toyota Gazoo Racing,Am,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ethan Goulart,126,72,Ethan,Goulart,USA,TechSport,Toyota Gazoo Racing,Am,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Lucas Weisenberg,124,46,Lucas,Weisenberg,USA,Lucas Racing,Toyota Gazoo Racing,Am,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Spike Kohlbecker,112,55,Spike,Kohlbecker,USA,RVA Graphics Motorsports by Speed Syndicate,Toyota Gazoo Racing,Am,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Teams

In [3]:
Teams = pd.read_csv('../data/Barber Motorsports Park/GR_Teams_Championship.csv', delimiter=';')
Teams.head()

,Pos,Participant,Points,Sonoma Raceway_Race 1_Points,Sonoma Raceway_Race 1_PolePoints,Sonoma Raceway_Race 1_FastestLapPoints,Sonoma Raceway_Race 1_Extra 1,Sonoma Raceway_Race 1_Extra 2,Sonoma Raceway_Race 1_TotalExtraPoints,Sonoma Raceway_Race 1_Status,...,Indy_Race 2_Extra 2,Indy_Race 2_TotalExtraPoints,Indy_Race 2_Status,Indy_Race 2_ExtraParticipationPoints,Indy_Race 2_ExtraParticipationPointsAreInvalid,Indy_Race 2_ExtraNotStartedPoints,Indy_Race 2_ExtraNotStartedPointsAreInvalid,Indy_Race 2_ExtraNotClassifiedPoints,Indy_Race 2_ExtraNotClassifiedPointsAreInvalid,Unnamed: 185
0,1,BSI Racing,228,18.0,0,0,0,0,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Copeland Motorsports,192,12.0,0,0,0,0,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,RVA Graphics Motorsports by Speed Syndicate,182,15.0,0,0,0,0,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,TechSport,177,10.0,0,0,0,0,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Lucas Racing,147,25.0,0,0,0,0,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Provisional results (R1 & R2)

In [5]:
prov_rc_rs_1 = pd.read_csv('../data/Barber Motorsports Park/RACE 1/05_Provisional_Results_by_Class_Race_1.csv', delimiter=';')
prov_rc_rs_1.head()

,CLASS_TYPE,POS,PIC,NUMBER,TEAM,VEHICLE,DRIVER,LAPS,ELAPSED,GAP_FIRST,GAP_PREVIOUS,BEST_LAP_NUM,BEST_LAP_TIME,BEST_LAP_KPH,Unnamed: 14
0,Am,1,1,13,BSI Racing,Toyota GR86,Westin Workman,27,45:15.035,NaN,NaN,8,1:37.428,136.8,NaN
1,Am,2,2,22,Copeland Motorsports,Toyota GR86,Jeremy Fletcher,27,45:17.775,+2.740,+2.740,7,1:37.746,136.3,NaN
2,Am,3,3,72,TechSport,Toyota GR86,Ethan Goulart,27,45:25.690,+10.655,+7.915,7,1:37.737,136.3,NaN
3,Am,4,4,55,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Spike Kohlbecker,27,45:26.144,+11.109,+0.454,7,1:38.094,135.8,NaN
4,Am,5,5,2,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Will Robusto,27,45:29.124,+14.089,+2.980,5,1:38.326,135.5,NaN

In [7]:
prov_rc_rs_2 = pd.read_csv('../data/Barber Motorsports Park/RACE 2/05_Provisional_Results_by_Class_Race_2.csv', delimiter=';')
prov_rc_rs_2.head()

,CLASS_TYPE,POS,PIC,NUMBER,TEAM,VEHICLE,DRIVER,LAPS,ELAPSED,GAP_FIRST,GAP_PREVIOUS,BEST_LAP_NUM,BEST_LAP_TIME,BEST_LAP_KPH,Unnamed: 14
0,Am,1,1,13,BSI Racing,Toyota GR86,Westin Workman,28,45:37.014,NaN,NaN,2,1:37.350,136.9,NaN
1,Am,2,2,22,Copeland Motorsports,Toyota GR86,Jeremy Fletcher,28,45:37.248,+0.234,+0.234,11,1:37.304,136.9,NaN
2,Am,3,3,2,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Will Robusto,28,45:53.320,+16.306,+16.072,17,1:37.678,136.4,NaN
3,Am,4,4,72,TechSport,Toyota GR86,Ethan Goulart,28,45:57.708,+20.694,+4.388,14,1:37.945,136.0,NaN
4,Am,5,5,46,Lucas Racing,Toyota GR86,Lucas Weisenberg,28,45:57.899,+20.885,+0.191,13,1:37.910,136.1,NaN

In [8]:
rs_r1 = pd.read_csv('../data/Barber Motorsports Park/RACE 1/05_Results_by_Class_GR_Cup_Race_1_Official.csv', delimiter=';')
rs_r1.head()

,CLASS_TYPE,POS,PIC,NUMBER,TEAM,VEHICLE,DRIVER,LAPS,ELAPSED,GAP_FIRST,GAP_PREVIOUS,BEST_LAP_NUM,BEST_LAP_TIME,BEST_LAP_KPH,Unnamed: 14
0,Am,1,1,13,BSI Racing,Toyota GR86,Westin Workman,27,45:15.035,NaN,NaN,8,1:37.428,136.8,NaN
1,Am,2,2,22,Copeland Motorsports,Toyota GR86,Jeremy Fletcher,27,45:17.775,+2.740,+2.740,7,1:37.746,136.3,NaN
2,Am,3,3,72,TechSport,Toyota GR86,Ethan Goulart,27,45:25.690,+10.655,+7.915,7,1:37.737,136.3,NaN
3,Am,4,4,55,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Spike Kohlbecker,27,45:26.144,+11.109,+0.454,7,1:38.094,135.8,NaN
4,Am,5,5,2,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Will Robusto,27,45:29.124,+14.089,+2.980,5,1:38.326,135.5,NaN

In [9]:
rs_r2 = pd.read_csv('../data/Barber Motorsports Park/RACE 2/05_Results_by_Class_GR_Cup_Race_2_Official.csv', delimiter=';')
rs_r2.head()

,CLASS_TYPE,POS,PIC,NUMBER,TEAM,VEHICLE,DRIVER,LAPS,ELAPSED,GAP_FIRST,GAP_PREVIOUS,BEST_LAP_NUM,BEST_LAP_TIME,BEST_LAP_KPH,Unnamed: 14
0,Am,1,1,13,BSI Racing,Toyota GR86,Westin Workman,28,45:37.014,NaN,NaN,2,1:37.350,136.9,NaN
1,Am,2,2,22,Copeland Motorsports,Toyota GR86,Jeremy Fletcher,28,45:37.248,+0.234,+0.234,11,1:37.304,136.9,NaN
2,Am,3,3,2,RVA Graphics Motorsports by Speed Syndicate,Toyota GR86,Will Robusto,28,45:53.320,+16.306,+16.072,17,1:37.678,136.4,NaN
3,Am,4,4,72,TechSport,Toyota GR86,Ethan Goulart,28,45:57.708,+20.694,+4.388,14,1:37.945,136.0,NaN
4,Am,5,5,46,Lucas Racing,Toyota GR86,Lucas Weisenberg,28,45:57.899,+20.885,+0.191,13,1:37.910,136.1,NaN

## Weather

In [10]:
weat_rc_1 = pd.read_csv('../data/Barber Motorsports Park/RACE 1/26_Weather_Race_1.csv', delimiter=';')
weat_rc_1.head()

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,Unnamed: 9
0,1757184078,9/6/2025 6:41:18 PM,29.80,0,56.75,992.9,2.88,342,0,NaN
1,1757184141,9/6/2025 6:42:21 PM,29.87,0,57.23,993.0,5.04,280,0,NaN
2,1757184204,9/6/2025 6:43:24 PM,29.79,0,57.05,993.0,4.68,30,0,NaN
3,1757184266,9/6/2025 6:44:26 PM,29.75,0,57.42,992.9,3.96,11,0,NaN
4,1757184329,9/6/2025 6:45:29 PM,29.78,0,56.75,992.8,10.44,299,0,NaN

In [11]:
weat_rc_2 = pd.read_csv('../data/Barber Motorsports Park/RACE 2/26_Weather_Race_2.csv', delimiter=';')
weat_rc_2.head()

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,Unnamed: 9
0,1757257552,9/7/2025 3:05:52 PM,23.54,0,49.28,995.1,5.04,348,0,NaN
1,1757257614,9/7/2025 3:06:54 PM,23.67,0,49.50,995.1,7.92,350,0,NaN
2,1757257677,9/7/2025 3:07:57 PM,23.72,0,49.27,995.1,5.76,331,0,NaN
3,1757257740,9/7/2025 3:09:00 PM,23.71,0,49.56,995.2,1.44,24,0,NaN
4,1757257802,9/7/2025 3:10:02 PM,23.72,0,49.23,995.2,6.48,335,0,NaN

## Analysis

In [13]:
an_rc_1 = pd.read_csv('../data/Barber Motorsports Park/RACE 1/23_AnalysisEnduranceWithSections_Race_1.csv', delimiter=';')
an_rc_1.head()

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,IM1_elapsed,IM2a_time,IM2a_elapsed,IM2_time,IM2_elapsed,IM3a_time,IM3a_elapsed,FL_time,FL_elapsed,Unnamed: 41
0,3,1,1,1:54.168,0,NaN,33.413,0,43.534,0,...,33.413,30.646,1:04.059,12.888,1:16.947,11.800,1:28.747,25.421,1:54.168,NaN
1,3,1,2,2:13.691,0,NaN,39.570,0,57.345,0,...,39.570,35.764,1:15.334,21.581,1:36.915,13.529,1:50.444,23.247,2:13.691,NaN
2,3,1,3,1:58.021,0,NaN,33.801,0,49.853,0,...,33.801,34.462,1:08.263,15.391,1:23.654,13.223,1:36.877,21.144,1:58.021,NaN
3,3,1,4,1:40.861,0,NaN,27.568,0,43.834,0,...,27.568,30.912,58.480,12.922,1:11.402,11.353,1:22.755,18.106,1:40.861,NaN
4,3,1,5,1:39.725,0,NaN,27.214,0,43.389,0,...,27.214,30.557,57.771,12.832,1:10.603,11.158,1:21.761,17.964,1:39.725,NaN

In [14]:
an_rc_2 = pd.read_csv('../data/Barber Motorsports Park/RACE 2/23_AnalysisEnduranceWithSections_Race_2.csv', delimiter=';')
an_rc_2.head()

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,IM1_elapsed,IM2a_time,IM2a_elapsed,IM2_time,IM2_elapsed,IM3a_time,IM3a_elapsed,FL_time,FL_elapsed,Unnamed: 41
0,3,1,1,1:45.342,0,NaN,31.243,0,44.136,0,...,31.243,31.093,1:02.336,13.043,1:15.379,11.634,1:27.013,18.329,1:45.342,NaN
1,3,1,2,1:39.505,0,NaN,27.260,0,43.038,0,...,27.260,30.252,57.512,12.786,1:10.298,11.170,1:21.468,18.037,1:39.505,NaN
2,3,1,3,1:39.249,0,NaN,27.164,0,42.982,0,...,27.164,30.177,57.341,12.805,1:10.146,11.124,1:21.270,17.979,1:39.249,NaN
3,3,1,4,1:39.640,0,NaN,26.972,0,43.276,0,...,26.972,30.438,57.410,12.838,1:10.248,11.220,1:21.468,18.172,1:39.640,NaN
4,3,1,5,1:39.275,0,NaN,26.999,0,43.309,0,...,26.999,30.547,57.546,12.762,1:10.308,11.049,1:21.357,17.918,1:39.275,NaN